## Deliverable 2. Create a Customer Travel Destinations Map.

In [141]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [142]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Male,MV,4.1748,73.5089,84.15,79,20,17.27,few clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,48.31,66,40,31.07,light intensity shower rain
2,2,Bluff,NZ,-46.6000,168.3333,44.80,85,100,21.97,light rain
3,3,Vaini,TO,-21.2000,-175.2000,74.03,79,97,21.16,overcast clouds
4,4,Busselton,AU,-33.6500,115.3333,45.09,60,92,4.09,overcast clouds

In [143]:
# 2. Prompt the user to enter minimum and maximum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [144]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Male,MV,4.1748,73.5089,84.15,79,20,17.27,few clouds
5,5,Merritt Island,US,28.5392,-80.6720,88.27,55,40,6.91,scattered clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,78.78,69,3,18.41,clear sky
8,8,Maragogi,BR,-9.0122,-35.2225,81.28,69,24,11.99,few clouds
11,11,Mabaruma,GY,8.2000,-59.7833,79.84,88,100,4.03,overcast clouds
16,16,Yenagoa,NG,4.9247,6.2642,77.81,87,100,6.29,moderate rain
19,19,Khuzdar,PK,27.7384,66.6434,79.70,21,8,8.30,clear sky
46,46,Tiarei,PF,-17.5333,-149.3333,75.22,76,5,8.12,light rain
52,52,Nanchang,CN,28.6833,115.8833,79.74,52,0,5.14,light rain
54,54,Itarema,BR,-2.9248,-39.9167,87.66,58,1,20.96,clear sky

In [145]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

Unnamed: 0             0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [146]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna(axis=0, how="any")
clean_df = pd.DataFrame(preferred_cities_df)
clean_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Male,MV,4.1748,73.5089,84.15,79,20,17.27,few clouds
5,5,Merritt Island,US,28.5392,-80.6720,88.27,55,40,6.91,scattered clouds
6,6,Nouadhibou,MR,20.9310,-17.0347,78.78,69,3,18.41,clear sky
8,8,Maragogi,BR,-9.0122,-35.2225,81.28,69,24,11.99,few clouds
11,11,Mabaruma,GY,8.2000,-59.7833,79.84,88,100,4.03,overcast clouds
16,16,Yenagoa,NG,4.9247,6.2642,77.81,87,100,6.29,moderate rain
19,19,Khuzdar,PK,27.7384,66.6434,79.70,21,8,8.30,clear sky
46,46,Tiarei,PF,-17.5333,-149.3333,75.22,76,5,8.12,light rain
52,52,Nanchang,CN,28.6833,115.8833,79.74,52,0,5.14,light rain
54,54,Itarema,BR,-2.9248,-39.9167,87.66,58,1,20.96,clear sky

In [147]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Male,MV,84.15,few clouds,4.1748,73.5089,
5,Merritt Island,US,88.27,scattered clouds,28.5392,-80.6720,
6,Nouadhibou,MR,78.78,clear sky,20.9310,-17.0347,
8,Maragogi,BR,81.28,few clouds,-9.0122,-35.2225,
11,Mabaruma,GY,79.84,overcast clouds,8.2000,-59.7833,
16,Yenagoa,NG,77.81,moderate rain,4.9247,6.2642,
19,Khuzdar,PK,79.70,clear sky,27.7384,66.6434,
46,Tiarei,PF,75.22,light rain,-17.5333,-149.3333,
52,Nanchang,CN,79.74,light rain,28.6833,115.8833,
54,Itarema,BR,87.66,clear sky,-2.9248,-39.9167,

In [148]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [149]:
# 7. Drop the rows where there is no Hotel Name.
nan_value = float("NaN")
hotel_df.replace("", nan_value, inplace=True)
hotel_df.dropna(subset = ["Hotel Name"], inplace=True)
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Male,MV,84.15,few clouds,4.1748,73.5089,Hotel Octave Maldives
6,Nouadhibou,MR,78.78,clear sky,20.9310,-17.0347,El Medina
8,Maragogi,BR,81.28,few clouds,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
11,Mabaruma,GY,79.84,overcast clouds,8.2000,-59.7833,Monty Brooms Guest House
16,Yenagoa,NG,77.81,moderate rain,4.9247,6.2642,Aridolf Resort Wellness and Spa
19,Khuzdar,PK,79.70,clear sky,27.7384,66.6434,jhalwan Rent A Car Moola Chotok Boking Office
46,Tiarei,PF,75.22,light rain,-17.5333,-149.3333,Le Rocher de Tahiti
52,Nanchang,CN,79.74,light rain,28.6833,115.8833,Gloria Plaza Hotel Nanchang
54,Itarema,BR,87.66,clear sky,-2.9248,-39.9167,"Sea Lounge! Bar, Club & Restaurant"
56,Guerrero Negro,MX,79.99,broken clouds,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"

In [150]:
# 7. Drop the rows where there is no Hotel Name.
# hotel_df['Hotel Name'].astype(bool)
# hotel_df[hotel_df['Hotel Name'].astype(bool)]

In [154]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file)

In [152]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [153]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))